.message-send-box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f1f5f9;
  box-sizing: border-box;
  height: 20%;
  width: 100%;
  padding: 10px;
}

.attachment-sendbutton-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  padding: 10px;
}

button:hover{
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 80%;
  resize: none;
  box-sizing: border-box;
  border: none;
}
